body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 20px; 
    margin-bottom: 100px;
}



header {
    background: #333;
    color: #fff;
    padding: 20px; 
    min-height: 70px;
    border-bottom: #0779e4 3px solid;
}

header h1, nav ul {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}



footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}



@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .text {
        margin-left: 0; /* Reset margin for smaller screens */
        margin-top: 20px; /* Add some space above the text */
    }
}


#profile-photo {
    float: left; /* Use 'right' to float it to the right */
    margin-right: 15px; /* Adds space between the image and the following content */
    width: 300px;
    height: auto;
}



a {
    display: inline-block; /* For proper spacing and alignment */
    margin-top: 10px; /* Adds some space above the link */
    color: #0779e4; /* Link color */
    text-decoration: none; /* Removes underline from links */
}

a:hover {
    text-decoration: underline; /* Adds underline on hover for better user experience */
}

#research {
    clear: both; /* This ensures it appears below floated elements */
    /* Other styling */
}

