body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0 20px; /* Provides padding on the left and right */
    box-sizing: border-box;
    margin-bottom: 60px; /* Adjusted to ensure content is not hidden by the footer */
}

header {
    background: #333;
    color: #fff;
    padding: 20px;
    min-height: 70px;
    border-bottom: #0779e4 3px solid;
}

header h1, nav ul {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 768px) {
    footer {
        position: relative; /* Change footer position on smaller screens */
    }
}

#profile-photo {
    float: left; 
    margin-right: 15px; 
    width: 100%; /* Make the image responsive */
    max-width: 300px; /* Maximum size of the image */
    height: auto;
}


@media (max-width: 768px) {
    body {
        padding: 10px; /* Smaller padding for smaller screens */
    }

    #profile-photo {
        float: none; /* Stop floating on smaller screens */
        display: block; /* Center the image */
        margin: 0 auto 20px; /* Adjust margin for spacing and centering */
        width: 80%; /* Make the image responsive */
        height: auto;
    }

    footer {
        position: relative; /* Adjust footer position on smaller screens */
        margin-top: 20px;
    }

    nav ul li {
        display: block; /* Stack nav items vertically on smaller screens */
        margin-right: 0;
        text-align: center; /* Center-align the nav items */
    }

    .content, .text {
        /* Reset or adjust styles as necessary for smaller screens */
        margin-left: 0;
        margin-top: 20px;
    }
}

a {
    display: inline-block; /* For proper spacing and alignment */
    margin-top: 10px; /* Adds some space above the link */
    color: #0779e4; /* Link color */
    text-decoration: none; /* Removes underline from links */
}

a:hover {
    text-decoration: underline; /* Adds underline on hover for better user experience */
}

#research {
    clear: both; /* Ensures it appears below floated elements */
    /* Additional styling as needed */
}
